/* =================== Стили для страниц веб-сайта с публикациями =============== */

/* begin: =================== Основная часть веб-сайта =========================== */
.main__container {
  max-width: 1110px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
  bottom: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #dcdee0;
  box-shadow: 0px 1px 2px 0px rgba(65, 65, 65, 0.5);
}

a {
  color: #205c92;
  /* Цвет обычной ссылки */
  text-decoration: none;
  /* Убираем подчеркивание у ссылок */
}

a:visited {color: #800080;} /* Цвет посещённой ссылки */

a:hover {
  color: #800000;
  /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: none;
  /* Добавляем подчеркивание */
}

/* Горизонтальная линия */
hr {
  height: 2px; 
  background: #205c92; 
  margin: 10px; 
}

.publication {
  padding: 10px 20px;
  font-family: "Roboto", Arial, Verdana, Tahoma, sans-serif;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-size: 16px;
}

/* Иконка раздела (справа вверху) */
.header__publication__icon {
  float: right;
  margin: -10px 10px 0px 0px;
  background-color: #205c92;
  width: 45px;
  border: 1px solid #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2px 1px 0px rgba(65, 65, 65, 0.5);
}

/* Позиционирование изображения автора публикации */
.header__photo-author {
  float: left;
  padding: 0px 20px 10px 0px;
}

 /* Размер изображения автора публикации для ПК */
.header__photo-author img {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 250px;
  line-height: 350px;
}

/* Дата публикации */
.header__publication__date {
  font-weight: 500;
  font-size: 18px;
  color: #205c91;
}

/* Имя автора публикации */
.header__publication__author-name {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}

/* Профессия автора публикации */
.header__publication__author-profession {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* Главный заголовок публикации */
h1 {
  padding-top: 10px;
  text-align: left;
  font-weight: 500;
  line-height: normal;
}

/* Подзаголовки публикации */
h2, 
h3 {
  font-weight: 500;
  margin: 60px 0px 10px 30px;
}

/* Шрифт для текста и ссылок публикации */
.main-publication p,
.main-publication a {
  font-size: 16px;
  letter-spacing: 1px;
}

/* Отступы первых абзацев предложений публикации */
.main-publication p:first-letter {margin-left: 20px;}

/* Кубические маркеры списка */
.list-square li {
  list-style: square;
  margin-left: 30px;
}

/* Изображение кавычек цитат */
.pull-quote img {
  width: 40px;
  vertical-align: bottom;
}

/* Расположение кавычек цитат */
.pull-quote {
  float: right;
  max-width: 50%;
  border-top: thin black solid;
  border-bottom: thick black solid;
  font-size: 120%;
  line-height: 130%;
  font-style: italic;
  margin-left: 15px;
  margin-bottom: 10px;
}

/* Выделение текста жирным шрифтом */
.bold {font-weight: 600;}

.strong {font-weight: 600;}

/* Выделение текста курсивом */
.italic {font-style: italic;}

.italic-bold {
  font-style: italic;
  font-weight: 600;
}

.underline {text-decoration: underline;}

.min-spacing {letter-spacing: 0.2px;}

/* begin: Инструкции для таблиц */
table {
  table-layout: fixed; /* Фиксированная ширина ячеек */
  width: 535;
  width: 100%;
  padding: 3px;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #000000;
}

table th, td {
  border: 1px solid #000000;
}

table p {
  padding: 0px 8px;
  font-size: 16px;
}

td,
th {padding: 5px;} /* Поля вокруг текста в таблице */

/* Основной раздел таблицы */
.section__container {
  text-align: left;
}

.section {
  background: #dce7ef; 
}

.section p {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* Подраздел таблицы */
.subsection {
  background: #ededed; 
  padding-left: 20px;
  font-size: 18px;
}

/* Колонка с номером */
td.serial-number {
  width: 5%;
}

td.serial-number p {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  padding-left: 0; 
}

/* Колонка с наименование нормативного акта */
td.title-act {
  width: 20%;
}

/* Убрать отступ в тексте колонки */
.title-act p:first-letter {margin-left: 0px;}

td.title-act p {
  text-align: left;
  font-size: 16px;
}

/* Содержание комментария к нормативному акту */

td.comment__content {
  width: 70%;

}

td.comment__content p {
 font-size: 16px;
 text-align: justify;
}


/* Фон устаревшей редакции закона в сравнительных таблицах */
.old {background-color: #efefef;}

/* Цвет текста устаревшей редакции закона в сравнительных таблицах */
.old p {color: #5c5c5c;}

.list__lower-latin li,
.list__cyrilic li, 
.list__number li {
  padding-right: 10px;
  padding-left: 10px;
}

/* Список с украинскими буквами */
.list__lower-latin ul,
.list__lower-latin li {
 list-style-type: lower-latin;
 margin-left: 30px;
 padding-left: 10px;
}

.list__number ul,
.list__number li {
  margin-left: 10px;
}

/* Список с украинскими буквами */
.list__cyrilic { 
  list-style-type: none; /* Прячем исходную нумерацию */
}
   
.list__cyrilic li::before {
  margin-left: 30px;
  padding-left: 10px; 
  padding-right: 10px; 
 /*
  margin-right: 5px; /* Расстояние от буквы до текста 
  width: 1em; /* Ширина 
  text-align: right; /* Выравнивание по правому краю 
  display: inline-block; /* Строчно-блочный элемент 
  */
   }

   .list__cyrilic li:nth-child(1)::before { content: 'а)'; }
   .list__cyrilic li:nth-child(2)::before { content: 'б)'; }
   .list__cyrilic li:nth-child(3)::before { content: 'в)'; }
   .list__cyrilic li:nth-child(4)::before { content: 'г)'; }
   .list__cyrilic li:nth-child(5)::before { content: 'ґ)'; }
   .list__cyrilic li:nth-child(6)::before { content: 'д)'; }
   .list__cyrilic li:nth-child(7)::before { content: 'е)'; }
   .list__cyrilic li:nth-child(8)::before { content: 'є)'; }
   .list__cyrilic li:nth-child(9)::before { content: 'ж)'; }
   .list__cyrilic li:nth-child(10)::before { content: 'з)'; }
   .list__cyrilic li:nth-child(11)::before { content: 'и)'; }
   .list__cyrilic li:nth-child(12)::before { content: 'і)'; }
   .list__cyrilic li:nth-child(13)::before { content: 'й)'; }
   .list__cyrilic li:nth-child(14)::before { content: 'ї)'; }
   .list__cyrilic li:nth-child(15)::before { content: 'к)'; }


.list__number ul,
.list__number li {
 list-style-type: decimal;
}

.footer__subsection p {
  font-weight: 500;
  float: right;
  padding-right: 10px;
}

/* Выделение текста маркером */
mark {
  background: #ffec82;
  padding: 0 3px;
}

.time-start {
 float: right;
 padding: 10px;
}

.time-end {
  float: left;
   padding: 10px;
  margin-top: -26px;
}
/* end: Инструкции для таблиц */

/* Подвал публикации */
.footer__publication {
  text-align: center;
  font-weight: 500;
}

.footer-publication p,
.footer-publication a {font-size: 16px;}

/* Отдельные инструкции для стилей страницы "Про нас" */
.header-about__logo {
  float: left;
  padding: 0px 20px 10px 0px;
}

.header-about__logo img {margin-top: -15px;}

/* Главный заголовок страницы "Про нас" */
h1.about-h1 {text-align: center;}

/* Подзаголовок страницы "Про нас" */
h2.about-h2 {color: #205c91;}

/* end: =================== Основная часть веб-сайта ============================ */

/* begin: =================== Подвал веб-сайта ================================== */
/* begin: Кнопка ВВЕРХ */ 
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 35px;
  right: 10px;
  overflow: hidden;
  width: 15%;
  height: 25%;
  border: none;
  float: left;
  text-indent: 100%;
  background: url(../img/up-button_icon.png) no-repeat right bottom;
  background-size: 50px 50px;
}

#toTop:active,
#toTop:focus {outline: none;}
/* end: Кнопка ВВЕРХ */ 
